<html>
<head>
    <title>CS2D Configuration - CS2D Webadmin</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<% if (!user) { %>
    <p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else {
    const files = [
        'bans.lst',
        'mapcycle.cfg',
        'server.cfg',
        'serverinfo.txt',
    ];
    %>
    <script>
    function getConfig(inputId, filePath) {
        const input = document.getElementById(inputId);
        httpGet(`/filesystem/${filePath}`, (event) => {
            const xhr = event.target;
            if (xhr.readyState == XMLHttpRequest.DONE) {
                input.value = xhr.responseText;
            }
        });
    }

    function putConfig(inputId, filePath) {
        const input = document.getElementById(inputId);
        httpPost(`/filesystem/${filePath}`, input.value);
    }

    function httpGet(theUrl, callback) {
        const xmlHttp = new XMLHttpRequest();
        if (callback) {
            xmlHttp.onreadystatechange = callback.bind(xmlHttp.target);
        }
        xmlHttp.open( 'GET', theUrl );
        xmlHttp.send( null );
    }

    function httpPost(theUrl, data, callback) {
        const xmlHttp = new XMLHttpRequest();
        xmlHttp.open( 'POST', theUrl );
        xmlHttp.setRequestHeader('Content-Type', 'text/plain');
        xmlHttp.send( data );
    }
    </script>
    <% include includes/header.ejs %>
    <h1>CS2D Configuration</h1>
    <p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>

    <% for (const file of files) {
        const fullPath = 'sys/' + file;
        const inputId = 'input_' + Math.random().toString();
        %>
        <h2><%= fullPath %></h2>
        <textarea
            id="<%= inputId %>"
            rows="8"
            cols="80"
            placeholder="Click 'Load' to retrieve the current file."
        ></textarea>
        <p>
            <button onclick="getConfig('<%= inputId %>', '<%= fullPath %>');">Load</button>
            <button onclick="putConfig('<%= inputId %>', '<%= fullPath %>');">Save</button>
        </p>
    <% } %>
<% } %>
</body>
</html>
